.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.search {
    width: 300px;
    flex-wrap: wrap;

}

.home {
    width: 300px;
}

.login {
    width: 300px;
}